
<h2>Formulaire d'inscription</h2>

<form action="/submit" method="post">

    <!-- Texte
    <label for="nom">Nom :</label><br>
    <input type="text" id="nom" name="nom" placeholder="Votre nom" required><br><br>

    Email
    <label for="email">Email :</label><br>
    <input type="email" id="email" name="email" placeholder="exemple@mail.com"><br><br>

    Mot de passe
    <label for="password">Mot de passe :</label><br>
    <input type="password" id="password" name="password"><br><br>

    Date
    <label for="date_naissance">Date de naissance :</label><br>
    <input type="date" id="date_naissance" name="date_naissance"><br><br>

    Nombre
    <label for="age">Age :</label><br>
    <input type="number" id="age" name="age" min="0" max="120"><br><br>

    Choix radio
    <p>Genre :</p>
    <input type="radio" id="homme" name="genre" value="homme">
    <label for="homme">Homme</label>

    <input type="radio" id="femme" name="genre" value="femme">
    <label for="femme">Femme</label><br><br>

    Checkbox
    <p>Centres d'intérêt :</p>
    <input type="checkbox" name="interets" value="programmation"> Programmation<br>
    <input type="checkbox" name="interets" value="maths"> Mathématiques<br>
    <input type="checkbox" name="interets" value="cybersecurite"> Cybersécurité<br><br>

    Select
    <label for="pays">Pays :</label><br>
    <select id="pays" name="pays">
        <option value="france">France</option>
        <option value="belgique">Belgique</option>
        <option value="suisse">Suisse</option>
        <option value="canada">Canada</option>
    </select><br><br>

    Zone texte
    <label for="message">Message :</label><br>
    <textarea id="message" name="message" rows="4" cols="40"></textarea><br><br>

    Bouton
    <input type="submit" value="Envoyer"> -->

</form>
